* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(224, 201, 166);
}

body {
  font-family: sans-serif;
}

h1 {
  font-family: serif;
}

#noteBook {
  border: groove 3px black;
  display: flex;
  justify-content: space-between;
}

.hidden, .hiddenEdit {
  display: none;
}

input,
textarea {
  display: flex;
  flex-direction: column;
  background-color: wheat;
}

div {
  border: groove 1px black;
}
